.sidebar {
  background-color: var(--red70);
}
.sidebar a {
  text-decoration: none;
  color: #fff;
}
.sidebar .branding {
  text-align: center;
  color: #fff;
  padding-top: 1rem;
}
.sidebar .branding img {
  width: 100px;
}

.sidebar h6 {
  color: #434343;
  cursor: pointer;
}

.sidebar-menu ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2rem;
}

.sidebar-menu ul a {
  padding: 8px 2rem;
  width: 100%;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.1s ease-in;
}

.sidebar-menu ul a:hover {
  background-color: var(--yellow70);
}
