footer {
  height: 350px;
  background: #303036;
  color: #fff;
  padding: 3rem;
}

footer a {
  color: #fff !important;
}

footer p {
  text-align: justify;
  padding-right: 25px;
  color: #bebebe;
}
footer img {
  width: 80px;
  margin: 0 auto;
}

footer ul {
  display: flex;
  flex-direction: column;
  color: #bebebe;
}
footer ul a {
  margin-top: 1em;
  padding-left: 10px;
  color: #bebebe !important;
}
