.bookingList-card {
  padding: 1.5rem;
}

.bookingList-card img {
  width: 100%;
}

.bookingList-card h5 {
  font-weight: 700;
  color: #434343;
  margin-top: 1.4rem;
}
.bookingList-card p {
  margin: 0;
  text-align: justify;
}

.statusBtn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  right: 0;
}
.pending {
  background-color: hsl(354, 100%, 93%);
  color: var(--red);
}

.done {
  background-color: hsl(157, 100%, 93%);
  color: hsl(157, 77%, 47%);
  border: 3px solid hsl(157, 77%, 47%);
  border-right: none;
}

.on_going {
  background-color: hsl(51, 96%, 81%);
  color: hsl(22, 93%, 49%);
  border: 3px solid hsl(54, 84%, 53%);
  border-right: none;
}

.pending {
  background-color: hsl(157, 100%, 93%);
  color: hsl(214, 77%, 47%);
  border: 3px solid hsl(229, 77%, 47%);
  border-right: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
